@page
@model DBFlightManagement.Pages.Flights.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Flight.Airline" class="control-label"></label>
                <input asp-for="Flight.Airline" class="form-control" />
                <span asp-validation-for="Flight.Airline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Flight.DepartureAirport" class="control-label"></label>
                <input asp-for="Flight.DepartureAirport" class="form-control" />
                <span asp-validation-for="Flight.DepartureAirport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Flight.ArrivalAirport" class="control-label"></label>
                <input asp-for="Flight.ArrivalAirport" class="form-control" />
                <span asp-validation-for="Flight.ArrivalAirport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Flight.DepartureDateTime" class="control-label"></label>
                <input asp-for="Flight.DepartureDateTime" class="form-control" />
                <span asp-validation-for="Flight.DepartureDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.AvailableSeats" class="control-label"></label>
                <input asp-for="Flight.AvailableSeats" class="form-control" />
                <span asp-validation-for="Flight.AvailableSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flight.TicketPrice" class="control-label"></label>
                <input asp-for="Flight.TicketPrice" class="form-control" />
                <span asp-validation-for="Flight.TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Page("Index")'">Cancel</button>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
