@page
@model DBFlightManagement.Pages.Staffs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Staff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Staff.StaffId" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Staff.AspNetUserId" class="control-label"></label>
                <select asp-for="Staff.AspNetUserId" class="form-control" asp-items="ViewBag.AspNetUserId"></select>
                <span asp-validation-for="Staff.AspNetUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Staff.Email" class="control-label"></label>
                <input asp-for="Staff.Email" class="form-control" />
                <span asp-validation-for="Staff.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Staff.FirstName" class="control-label"></label>
                <input asp-for="Staff.FirstName" class="form-control" />
                <span asp-validation-for="Staff.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Staff.LastName" class="control-label"></label>
                <input asp-for="Staff.LastName" class="form-control" />
                <span asp-validation-for="Staff.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Staff.PersonalId" class="control-label"></label>
                <input asp-for="Staff.PersonalId" class="form-control" />
                <span asp-validation-for="Staff.PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.PhoneNumber" class="control-label"></label>
                <input asp-for="Staff.PhoneNumber" class="form-control" />
                <span asp-validation-for="Staff.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Staff.Address" class="control-label"></label>
                <input asp-for="Staff.Address" class="form-control" />
                <span asp-validation-for="Staff.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Staff.Position" class="control-label"></label>
                <input asp-for="Staff.Position" class="form-control" />
                <span asp-validation-for="Staff.Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Page("./Index")'">Back to List</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
